*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #000000;
    padding: 1rem;
}

title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 7rem;
    background-color: #004466;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

.profile{
    float: right;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #004466;
    margin: 0 auto;
    object-fit: cover;
}

course-title {
    display: block;
}

 h2 {
    position: relative;
    text-align: center;
    background-color: #004466;
    color: white;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: justify;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px #000000;
  max-width: 800px;
  margin: 0.5rem auto;
  font-family: 'open sans', sans-serif;
  color: #000000;
}

.card h3 {
  width: 90%;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: white;
  background-color: #004466;
  background-size: auto;
  position: relative;
  padding: 0.8rem;
  border-radius: 5px;
  text-align: center;

}

.card img {
  max-width: 200px;
  border-radius: 8px;
  border: 3px solid #004466;
  box-shadow: 0 2px 6px #000000;
}

.card p {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  min-width: 100px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #004466;
    margin-top: 2rem;
    font-size: 1rem;
    color: white;
}