* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 1000px) {
    header, main, footer {
	max-width: 1100px;
	margin: 0 auto;
    }

    .hero source {
        width: 100%;
        height: 90%;
        object-fit: cover;
      }
    
    h1 {
        margin-top: -20px;
        font-size: 40px;
    }

    nav {
        padding-bottom: 10px;
    }

    .content-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* .flexbox-item-1 {
        position: absolute;
        top: -800px;
        left: 50px;
        width: 20%;
        background-color: rgba(255, 251, 208, 0.9);
        border: none;
    }

    .flexbox-item-2 {
        position: absolute;
        bottom: 100px;
        right: 50px;
        width: 20%;
        background-color: rgba(255, 251, 208, 0.9);
        border: none;
    } */

    .flexbox-item-1,
    .flexbox-item-2 {
        width: 20%;
        height: auto;
        background-color: rgba(255, 251, 208, 0.9);
        border: none;
        min-width: 300px;
        min-height: 100px;
    }


    .image-weather {
        display: none;
    }

    .after::after {
        content: " ⛅";
        position: relative;
        left: 140px;
        top: -32px;
        margin-bottom: -30px;
    }

    h2 {
        width: 100%;
        background-color: var(--colorPrimary);
        margin-left: -10px;
        color: white;
    }

     /* Positioning for flexbox items */
     .flexbox-item-1 {
        position: absolute;
        top: -700px; /* Adjust top position */
        left: 80px; /* Adjust left position */
    }

    .flexbox-item-2 {
        position: absolute;
        bottom: 80px; /* Adjust bottom position */
        right: 80px; /* Adjust right position */
    }

 footer {
    font-size: 1rem;
    }
}    